<div class="fixed top-0 w-full overflow-hidden h-full">
  <div class="absolute -top-24 -left-24 w-96 h-96 rounded-full bg-fuchsia-500/60 blur-5xl animate-pulse-slow"></div>
  <div class="absolute -bottom-24 -right-24 w-80 h-80 rounded-full bg-cyan-400/60 blur-5xl animate-pulse-slow"></div>
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-72 h-72 rounded-full bg-blue-500/50 blur-4xl"></div>
</div>