  <form action="/logout" method="get" class="flex justify-center items-center">
    <button class="<%= global("class").btn.outline %> font-bold flex gap-1 items-center justify-center">
      <span class="hidden lg:inline"> <%= tr.logout?.toUpperCase() %></span> <%- icons("LogOut") %>
    </button>
  </form>